/* finance.css */

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(8px);
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    padding: 20px;
  }
  
  .modal-content {
    background: #8a7f7f;
    padding: 2rem;
    border-radius: 12px;
    width: 90%;
    max-width: 500px;
    position: relative;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    max-height: 90vh;
    overflow-y: auto;
  }
  .close-btn {
    position: absolute;
    top: 1rem;
    right: 1rem;
    background: none;
    border: none;
    font-size: 1.4rem;
    cursor: pointer;
    color: #555;
  }
  
  h2 {
    text-align: center;
    margin-bottom: 1.5rem;
    color: #333;
  }
  
  .finance-form .form-group {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
  }
  
  .finance-form label {
    font-weight: bold;
    margin-bottom: 0.3rem;
    color: #444;
  }
  
  .finance-form input {
    padding: 0.6rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1rem;
  }
  
  .submit-btn {
    margin-top: 1.2rem;
    background-color: #198754;
    color: white;
    padding: 0.8rem 1rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    width: 100%;
    font-size: 1rem;
    transition: background-color 0.3s;
    display: block;
  }
  .close-btn.left {
    left: 1rem;
  }
  .submit-btn:hover {
    background-color: #157347;
  }
  .success-message {
    text-align: center;
    padding: 2rem 1rem;
  }
  
  .success-message h2 {
    color: #198754;
    margin-bottom: 1rem;
  }
  